<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <p><%=user.name%></p>
  <form action="/login" method="POST">
    <form method="post" action="/">
      <input type="text" name="msg">
      <input type="submit" value="送信する">
    </form>
  </body>
</html>