<html>
    <!DOCTYPE html>
    <html lang="ja">
    <head>
      <meta charset="UTF-8">
      <title>2020 Calendar</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
      <form action="/login" method="POST">
        <table align="center">
          <tr>
            <td>E-mail Address</td>
          </tr>
          <tr>
            <td><input type="email" name="username" /></td>
          </tr>
          <tr>
            <td>Password</td>
          </tr>
          <tr>
            <td><input type="password" name="password" /></td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Login" />
            </td>
          </tr>
        </table>
      </form>
    </body>
    <script>

    </script>
</html>